
#ichiran_part, #kensaku_button_part, #kensaku_button_part2, #keyword_part, #kkubun_part, #chiiki_part{
	padding-bottom : 15px;
	font-size : 9pt;
}

#kkubun_part h3, #chiiki_part h3 {
	padding-bottom : 5px;
}

#ichiran_button {
	width : 300px;
}

#kensaku_clear, #kensaku_clear2, #kensaku_submit, #kensaku_submit2 {
	width : 200px;
}

#kensaku_name {
	font-size : 11pt;
	line-height : 11pt;
	height : 20px;
}

.ing_button{
     font-weight: normal;
     text-decoration: none;
     height: 40px;
     line-height:40px;
     padding-left: 3px;
     _width: 160px;
     border: solid 1px #FFF;
/*     background:#63AECF; */
     background:#3C9CA5;
     color:#ffffff;
     font-size : 16pt;
}

.ing_button:hover{
     font-weight: normal;
     text-decoration: none;
     height: 40px;
     line-height:40px;
     padding-left: 3px;
     _width: 160px;
     border: solid 1px #FFF;
/*     background:#439ECF; */
     background:#2C8C95;
     color:#ffffff;
}

ul.chiiki_radio {
    display:table;
    table-layout:fixed;
    width:530px;
}

ul.chiiki_radio li {
    display:table-cell;
    vertical-align:middle;
    text-align:left;
/*    background-color:#63AECF; */
    border-left:1px solid white;
	padding-left : 5px;
}

ul.chiiki_radio li:first-child {
    border:none;
}

ul.shi_ichiran {
    display:table;
    table-layout:fixed;
    width:510px;
}

ul.shi_ichiran li {
    display:table-cell;
    vertical-align:middle;
    text-align:left;
/*    background-color:#63AECF; */
    background:#3C9CA5;

    border-left:1px solid white;
	padding-left : 5px;
	font-size : 9pt;
	height : 24px;
}
ul.shi_ichiran li:hover {
    background:#2C8C95;
}

ul.shi_ichiran li:first-child {
    border:none;
}

ul.shi_ichiran li a {
    display:block;
    text-decoration:none;
    color:white;
}

ul.shi_ichiran li input[type=checkbox] {
	vertical-align: middle;
	margin-right : 5px;
}


ul.shikana_ichiran {
    display:table;
    table-layout:fixed;
    width:530px;
}

ul.shikana_ichiran li {
    display:table-cell;
    vertical-align:middle;
    text-align:left;
/*    background-color:#63AECF; */
    border-left:1px solid white;
	padding-left : 5px;
}

ul.shikana_ichiran li:first-child {
    border:none;
}


ul.kkubun_ichiran {
    display:table;
    table-layout:fixed;
    width:530px;
}

ul.kkubun_ichiran li {
    display:table-cell;
    vertical-align:middle;
    text-align:left;
/*    background-color:#63AECF; */
    background:#3C9CA5;
    border-left:1px solid white;
	padding-left : 5px;
	height : 24px;
}

ul.kkubun_ichiran li:hover {
    background:#2C8C95;
}


ul.kkubun_ichiran li:first-child {
    border:none;    
}

ul.kkubun_ichiran li a {
    display:block;
    text-decoration:none;
    color:white;
}

ul.kkubun_ichiran li input[type=checkbox] {
	vertical-align: middle;
	margin-right : 5px;
}



	.w30 {width:	30px;}
	.w40 {width:	40px;}
	.w50 {width:	50px;}
	.w60 {width:	60px;}
	.w70 {width:	70px;}
	.w80 {width:	80px;}
	.w90 {width:	90px;}
	.w100{width:	100px;}
	.w110{width:	110px;}
	.w120{width:	120px;}
	.w130{width:	130px;}
	.w140{width:	140px;}
	.w150{width:	150px;}
	.w160{width:	160px;}
	.w170{width:	170px;}
	.w180{width:	180px;}
	.w190{width:	190px;}
	.w200{width:	200px;}
	.w210{width:	210px;}
	.w220{width:	220px;}
	.w230{width:	230px;}
	.w240{width:	240px;}
	.w250{width:	250px;}
	.w260{width:	260px;}
	.w270{width:	270px;}
	.w280{width:	280px;}
	.w290{width:	290px;}
	.w300{width:	300px;}
	.w310{width:	310px;}
	.w320{width:	320px;}
	.w330{width:	330px;}
	.w340{width:	340px;}
	.w350{width:	350px;}
	.w360{width:	360px;}
	.w370{width:	370px;}
	.w380{width:	380px;}
	.w390{width:	390px;}
	.w400{width:	400px;}
	.w450{width:	450px;}
	.w480{width:	480px;}
	.w490{width:	490px;}
	.w500{width:	500px;}
	.w520{width:	520px;}
	.w540{width:	540px;}
	.w560{width:	560px;}
	.w580{width:	580px;}
	.w600{width:	600px;}
	.w700{width:	700px;}
	.w800{width:	800px;}
	.w900{width:	900px; }
	.w100p{width:	100%;}
	.w95p{width:	95%;}
	.w70p{width:	69%;}
	.w30p{width:	29%;}

	.h10{height:	10px;}
	.h20{height:	20px;}
	.h24{height:	24px;}
	.h26{height:	26px;}
	.h28{height:	28px;}
	.h30{height:	30px;}
	.h40{height:	40px;}
	.h41{height:	41px;}
	.h42{height:	42px;}
	.h43{height:	43px;}
	.h44{height:	44px;}
	.h45{height:	45px;}
	.h50{height:	50px;}
	.h60{height:	60px;}
	.h70{height:	70px;}
	.h80{height:	80px;}
	.h90{height:	90px;}
	.h100{height:	100px;}
	.h110{height:	110px;}
	.h120{height:	120px;}
	.h130{height:	130px;}
	.h140{height:	140px;}
	.h150{height:	150px;}
	.h160{height:	160px;}
	.h170{height:	170px;}
	.h180{height:	180px;}
	.h190{height:	190px;}
	.h200{height:	200px;}
	.h210{height:	210px;}
	.h220{height:	220px;}
	.h230{height:	230px;}
	.h240{height:	240px;}

	.f10{font-size:	10px;}
	.f15{font-size:	15px;}
	.f16{font-size:	16px;}
	.f17{font-size:	17px;}
	.f18{font-size:	18px;}
	.f19{font-size:	19px;}
	.f20{font-size:	20px;}
	.f21{font-size:	21px;}
	.f22{font-size:	22px;}
	.f23{font-size:	23px;}
	.f24{font-size:	24px;}
	.f25{font-size:	25px;}
	.f26{font-size:	26px;}
	.f27{font-size:	27px;}
	.f28{font-size:	28px;}
	.f29{font-size:	29px;}
	.f30{font-size:	30px;}
	.f40{font-size:	40px;}
	.f50{font-size:	50px;}
	.f60{font-size:	60px;}
	.f70{font-size:	70px;}
	.f80{font-size:	80px;}
	.f90{font-size:	90px;}
	.f100{font-size:100px;}
	.f110{font-size:110px;}
	.f120{font-size:120px;}
	.f130{font-size:130px;}
	.f140{font-size:140px;}
	.f150{font-size:150px;}
	.f160{font-size:160px;}


	.mt1{margin-top:1px;}
	.mt2{margin-top:2px;}
	.mt3{margin-top:3px;}
	.mt4{margin-top:4px;}
	.mt5{margin-top:5px;}
	.mt6{margin-top:6px;}
	.mt7{margin-top:7px;}
	.mt8{margin-top:8px;}
	.mt9{margin-top:9px;}
	.mt10{margin-top:10px;}

	.ml1{margin-left:1px;}
	.ml2{margin-left:2px;}
	.ml3{margin-left:3px;}
	.ml4{margin-left:4px;}
	.ml5{margin-left:5px;}
	.ml6{margin-left:6px;}
	.ml7{margin-left:7px;}
	.ml8{margin-left:8px;}
	.ml9{margin-left:9px;}
	.ml10{margin-left:10px;}
	.ml11{margin-left:11px;}
	.ml12{margin-left:12px;}
	.ml13{margin-left:13px;}
	.ml14{margin-left:14px;}
	.ml15{margin-left:15px;}
	.ml16{margin-left:16px;}
	.ml17{margin-left:17px;}
	.ml18{margin-left:18px;}
	.ml19{margin-left:19px;}
	.ml20{margin-left:20px;}
	.ml25{margin-left:25px;}
	.ml30{margin-left:30px;}


	.ta-center	{text-align : center;}
	.ta-left	{text-align : left;}
	.ta-right	{text-align : right;}

/* focusÅicolor changeÅj */
	.focus {
		background: #ffff00!important;
	}
