@charset "utf-8";

		.clstext{
/*			font-family:"ＭＳ　Ｐゴシック","ヒラギノ角ゴ Pro W3",Osaka; */
			color:#333333;
			font-size:0.9em;
			line-height:2em;
			display:inline;
			padding-bottom:0.3em;
		}
		body{
			margin:0;
			padding:0;
			font-size: 0.87em;
			font-family:
				"ヒラギノ角ゴ Pro W3",
				"Hiragino Kaku Gothic Pro",
				"メイリオ", Meiryo, Osaka,
				"ＭＳ Ｐゴシック",
				"MS PGothic",
				sans-serif;
		}
		#loginname{
			background-color:#fff;
			width:138px;
			height:25px;
			border:1px solid #aaf;
			padding:0 3px 3px 3px;
		}

		#ver{
			line-height:11px;
		}
/*
		#logout{
			background-color:#aaf;
			width:128px;
			height:30px;
			text-align:center;
			padding:0 3px;
		}
*/
		#menu {
			width: 100px;
			height: 24px;
			font-size: 10pt;
			border: #1f9fd9 solid 1px;
		}
		#logout {
			width: 100px;
			height: 24px;
			font-size: 10pt;
			border: #d4a203 solid 1px;
		}

		#header{
			width:100%;
		/*	height:95px; */
			text-align:left;
			color:#c0c0c0;
			background-color: #331936;
			height: 60px;
		}
		#head-l {
			float: left;
			font-size: 12pt;
			font-weight: bold;
		}
		#head-r {
			float: right;
		}

		#footer {
			width:100%;
		/*	height:65px;
			text-align:center; */
			color:#c0c0c0;
			background-color: #331936;
		/*	position: absolute; */
			bottom: 0;
			height: 50px;
		}

		#container {
			width: 100%;
			background: #ffffff;
			position: relative;
		/*	height: 100%;
			min-height: 100%; */
		}
		body > #container {
			height: auto;
		}
		#contents {
			width: 100%;
			padding-bottom: 50px;
			text-align:center;
		}

		/* ?{?^???p */
		#button-okiba{
			width:100%;
			height:95%;
			text-align:center;
		}
		#button-l{
			float:left;
		}
		#button-r{
			float:right;
		}
		.clr{
			clear:both;
		}

		.listtable{
			table-layout:fixed;
		}
		input.textc{
			text-align:center;
		}
		input.textl{
			text-align:left;
		}
		input.textr{
			text-align:right;
		}
		td.label{
			width:100px;
			text-align:right;
			color:navy;
		}
		td.data{
			width:300px;
			text-align:left;
		}
		td{
			height:10px;
		}

		/* menu button */
		.bigbutton2-1{
			width: 200px;
			height: 200px;
			/*background: cyan;*/
			background: #74c0ec;
			font-size: 20pt;
			border: none;
			border-radius: 30px;	/* CSS3 */
			-webkit-border-radius: 30px;	/* Safari,Google Chrome */
			-moz-border-radius: 30px;	/* Firefox */
 		}
		.bigbutton2-1:hover{	/* */
			/*background: dodgerblue;*/
			background: #6aaed5;
		}
		.bigbutton2-2{
			width: 200px;
			height: 200px;
		/*	background: lime;	*/
			background: #AFDCAF;
			font-size: 20pt;
			border: none;
			border-radius: 30px;	/* CSS3 */
			-webkit-border-radius: 30px;	/* Safari,Google Chrome */
			-moz-border-radius: 30px;	/* Firefox */
 		}
		.bigbutton2-2:hover{
		/*	background: limegreen; */
			background: #8FBC8F;
 		}
		.bigbutton2-3{
			width: 200px;
			height: 200px;
			background: #f39fc3;
			font-size: 20pt;
			border: none;
			border-radius: 30px;	/* CSS3 */
			-webkit-border-radius: 30px;	/* Safari,Google Chrome */
			-moz-border-radius: 30px;	/* Firefox */
 		}
		.bigbutton2-3:hover{
			background: #d78cac;
		/*	background: #ffa500; */
		}
		.bigbutton2-4{
			width: 200px;
			height: 200px;
			background: #e4d038;
			font-size: 20pt;
			border: none;
			border-radius: 30px;	/* CSS3 */
			-webkit-border-radius: 30px;	/* Safari,Google Chrome */
			-moz-border-radius: 30px;	/* Firefox */
 		}
		.bigbutton2-4:hover{
			background: #ccba31;
		}
		.bigbutton2-5{
			width: 200px;
			height: 200px;
			background: #f08385;
			font-size: 20pt;
			border: none;
			border-radius: 30px;	/* CSS3 */
			-webkit-border-radius: 30px;	/* Safari,Google Chrome */
			-moz-border-radius: 30px;	/* Firefox */
 		}
		.bigbutton2-5:hover{
			background: #d77578;
 		}

		.bigbutton2-6{
			width: 200px;
			height: 200px;
			background: #9370db;
			font-size: 20pt;
			border: none;
			border-radius: 30px;	/* CSS */
			-webkit-border-radius: 30px;	/* Safari,Google Chrome */
			-moz-border-radius: 30px;	/* Firefox */
 		}
/*
		.bigbutton2-6:hover{
			background: #eeeeff;
 		}
*/
		#back-button {
			width: 120px;
			height: 26px;
			font-size: 10pt;
			border: #1f9fd9 solid 1px;
		}
