@charset "utf-8";

header{
    border-bottom: 1px solid #68f;
}
.header-flex{
    display: flex;
    flex-wrap: wrap;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin: 5px 10px;
    padding: 10px;
    border: 1px solid #68d;
    border-radius: 15px;
    background-color: #fff;
    color: #68d;
    font-size: 1rem;
    transition: 0.3s all;
}
.button:hover{
    background-color: #68d;
    color: #fff;
}
.button i{
    margin-right: 5px;
}
.header-box1{
    width: 10%;
    margin: 0 auto;  
}
.header-box2{
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.header-flex p{
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
}
@media screen and ( max-width:820px)  {
    .button{
        width: 35px;
        padding: 10px 10px 10px 15px;
    }
    .button span{
        display: none;
    }
    .header-flex p{
        font-size: 1.2rem;
    }
}

.main-flex{
    display: flex;
    width: 800px;
    margin: 60px auto;
    flex-wrap: wrap;
    background-color: #edf2fa;
}
.main-box-l{
    width: 25%;
    padding: 10px;
    line-height: 1.5rem;
    letter-spacing: 0.2px;
}
.main-box-r{
    width: 75%;
    padding: 10px;
    line-height: 1.5rem;
    letter-spacing: 0.2px;
    color: #444;
}
.bgc{
    background-color: #c6cfdd;
}

@media screen and ( max-width:820px)  {
    .main-flex{
        width: 95%;
        margin: 20px 2.5%;
    }
    .main-box-l{
        width: 100%;
    }
    .main-box-r{
        width: 100%;
    }
}

footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    height: 60px;
    background: #42a;
}


/* 木村追加 */
.button2 {
    display: inline-flex;
    align-items: center;
    padding: 6px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none; /* aタグでも下線消す */
    cursor: pointer;
}

.button2 i {
    margin-right: 4px; /* アイコンと文字の間 */
}
.button2:hover {
    background-color: #0056b3;
}
