/* 表示情報はテーブルで配置（レイアウト枠はpureを使ったDIVで） */

/* メニューボタンを省いた場合の高さ調整 */
.content-wrapper{top:90px;}

/* ログイン入力個所 */
#table01		{
	width:24rem;
	margin-top : 150px;
	margin-bottom : 150px;
}
#table01 td		{ padding-left : 5px; padding-right : 5px; }
#table01 .col01	{ width : 8rem; }
#table01 .col02	{ width : 16rem; }
#table01 input  { width : 100%; }
.login-title	{ font-size : 1.5rem; padding-bottom: 1.5rem;}
.error-disp		{color : red; font-weight:bold;}


/* メディアクエリ */

/* iPhone 5 縦 */
@media (device-width: 320px) {
#table01		{
	width:19rem;
	margin-top : 110px;
	margin-bottom : 110px;
}
#table01 td		{ padding-left : 5px; padding-right : 5px; }
#table01 .col01	{ width : 8rem; }
#table01 .col02	{ width : 16rem; }
#table01 input[type=submit]  { width : 100%;height:50px; }
.login-title	{ font-size : 1.2rem; padding-bottom: 1.5rem;}


}
/* iPhone 6 縦 */
@media (device-width: 375px) {
#table01		{
	width:22rem;
	margin-top : 150px;
	margin-bottom : 170px;
}
#table01 td		{ padding-left : 5px; padding-right : 5px; }
#table01 .col01	{ width : 8rem; }
#table01 .col02	{ width : 16rem; }
#table01 input[type=submit]  { width : 100%;height:50px; }
.login-title	{ font-size : 1.5rem; padding-bottom: 1.5rem;}


}
/* iPhone 6plus 縦 */
@media (device-width: 414px) {
#table01		{
	width:25rem;
	margin-top : 150px;
	margin-bottom : 235px;
}
#table01 td		{ padding-left : 5px; padding-right : 5px; }
#table01 .col01	{ width : 8rem; }
#table01 .col02	{ width : 16rem; }
#table01 input[type=submit]  { width : 100%;height:50px; }
.login-title	{ font-size : 1.5rem; padding-bottom: 1.5rem;}

}
/* iPhone 5 横 */
@media (device-width: 568px) {
	#table01		{
		margin-top : 0px;
		margin-bottom : 25px;
	}
	#table01 input[type=submit]  {height:40px; }
	.login-title	{ font-size : 1.2rem; padding-bottom: 1.0rem;}
}
/* Galaxy 5S 横 */
@media (device-width: 640px) {
	#table01 {
		margin-top : 0px;
		margin-bottom : 25px;
	}
	#table01 input[type=submit]  {height:50px; }
}
/* iPhone 6 横 */
@media (device-width: 667px) {
	#table01 {
		margin-top : 0px;
		margin-bottom : 25px;
	}
	#table01 input[type=submit]  {height:50px; }

}
/* Nexus 5X 横 */
@media (device-width: 732px) {
	#table01 {
		margin-top : 10px;
		margin-bottom : 50px;
	}
	#table01 input[type=submit]  {height:50px; }
}
/* iPhone 6plus 横 */
@media (device-width: 736px) {
	#table01 {
		margin-top : 10px;
		margin-bottom : 20px;
	}
}
/* iPad 縦 */
@media (device-width: 768px) {
	#table01 {
		margin-bottom : 425px;
	}
}
/* iPad 横 */
@media (device-width: 1024px) {
	#table01 {
		margin-bottom : 180px;
	}
}
