/* åüçıèåèì¸óÕ */
#table01		{ width : 60rem;}
#table01 .col01	{ width : 6rem;}
#table01 .col02 { width : 10rem;}
#table01 .col03 { width : 6rem;}
#table01 .col04 { width : 10rem;}
#table01 .col05 { width : 6rem;}
#table01 .col06 { width : 10rem;}
#irai_kensaku_submit {width:80px;}

/* åüçıåãâ ÉäÉXÉg */
#table02		{ width : 100%;}
#table02 .col01	{ width : 8rem;}
#table02 .col02 { width : 4rem;}
#table02 .col03 { width : 7rem;}
#table02 .col04 { width : 10rem;}
#table02 .col05 { width : 20rem;}
#table02 .col06 { width : 20rem;}
#table02 .col07 { width : 2rem;}

/* ÉÅÉfÉBÉAÉNÉGÉä */
/* iPhone 5 èc */
@media (device-width: 320px) {
	#table02		{ width : 58rem;}
	#table02 .col01	{ width : 6rem;}
	#table02 .col02 { width : 4rem;}
	#table02 .col03 { width : 7rem;}
	#table02 .col04 { width : 8rem;}
	#table02 .col05 { width : 12rem;}
	#table02 .col06 { width : 18rem;}
	#table02 .col07 { width : 4rem;}
}
/* Galaxy S5 èc */
@media (device-width: 360px) {
	#table02		{ width : 58rem;}
	#table02 .col01	{ width : 6rem;}
	#table02 .col02 { width : 4rem;}
	#table02 .col03 { width : 7rem;}
	#table02 .col04 { width : 8rem;}
	#table02 .col05 { width : 12rem;}
	#table02 .col06 { width : 18rem;}
	#table02 .col07 { width : 4rem;}
}
/* iPhone 6 èc */
@media (device-width: 375px) {
	#table02		{ width : 58rem;}
	#table02 .col01	{ width : 6rem;}
	#table02 .col02 { width : 4rem;}
	#table02 .col03 { width : 7rem;}
	#table02 .col04 { width : 8rem;}
	#table02 .col05 { width : 12rem;}
	#table02 .col06 { width : 18rem;}
	#table02 .col07 { width : 4rem;}
}
/* iPhone 6plus èc */
@media (device-width: 414px) {
	#table02		{ width : 58rem;}
	#table02 .col01	{ width : 6rem;}
	#table02 .col02 { width : 4rem;}
	#table02 .col03 { width : 7rem;}
	#table02 .col04 { width : 8rem;}
	#table02 .col05 { width : 12rem;}
	#table02 .col06 { width : 18rem;}
	#table02 .col07 { width : 4rem;}
}
/* Nexus èc */
@media (device-width: 412px) {
	#table02		{ width : 58rem;}
	#table02 .col01	{ width : 6rem;}
	#table02 .col02 { width : 4rem;}
	#table02 .col03 { width : 7rem;}
	#table02 .col04 { width : 8rem;}
	#table02 .col05 { width : 12rem;}
	#table02 .col06 { width : 18rem;}
	#table02 .col07 { width : 4rem;}
}
/* iPhone 5 â° */
@media (device-width: 568px) {
	#table02		{ width : 58rem;}
	#table02 .col01	{ width : 6rem;}
	#table02 .col02 { width : 4rem;}
	#table02 .col03 { width : 7rem;}
	#table02 .col04 { width : 8rem;}
	#table02 .col05 { width : 12rem;}
	#table02 .col06 { width : 18rem;}
	#table02 .col07 { width : 4rem;}
}
/* Galaxy 5S â° */
@media (device-width: 640px) {
	#table02		{ width : 58rem;}
	#table02 .col01	{ width : 6rem;}
	#table02 .col02 { width : 4rem;}
	#table02 .col03 { width : 7rem;}
	#table02 .col04 { width : 8rem;}
	#table02 .col05 { width : 12rem;}
	#table02 .col06 { width : 18rem;}
	#table02 .col07 { width : 4rem;}
}
/* iPhone 6 â° */
@media (device-width: 667px) {
	#table02		{ width : 58rem;}
	#table02 .col01	{ width : 6rem;}
	#table02 .col02 { width : 4rem;}
	#table02 .col03 { width : 7rem;}
	#table02 .col04 { width : 8rem;}
	#table02 .col05 { width : 12rem;}
	#table02 .col06 { width : 18rem;}
	#table02 .col07 { width : 4rem;}
}
/* Nexus 5X â° */
@media (device-width: 732px) {
	#table02		{ width : 58rem;}
	#table02 .col01	{ width : 6rem;}
	#table02 .col02 { width : 4rem;}
	#table02 .col03 { width : 7rem;}
	#table02 .col04 { width : 8rem;}
	#table02 .col05 { width : 12rem;}
	#table02 .col06 { width : 18rem;}
	#table02 .col07 { width : 4rem;}
}
/* iPhone 6plus â° */
@media (device-width: 736px) {
	#table02		{ width : 58rem;}
	#table02 .col01	{ width : 6rem;}
	#table02 .col02 { width : 4rem;}
	#table02 .col03 { width : 7rem;}
	#table02 .col04 { width : 8rem;}
	#table02 .col05 { width : 12rem;}
	#table02 .col06 { width : 18rem;}
	#table02 .col07 { width : 4rem;}
}
/* iPad èc */
@media (device-width: 768px) {
.content{height:1060px;}
#table01	{font-size:0.8rem;line-height:1.5rem;}
#table01 .col01	{ width : 8rem; }
#table01 .col02	{ width : 6rem; }
#table01 .col03	{ width : 2rem; }
#table01 .col04	{ width : 6rem; }

#table02	{font-size:0.8rem;line-height:1.5rem;}
#table02 .col01 { width : 10rem; }
#table02 .col02 { width : 10rem; }
#table02 .col03 { width : 18rem; }

#table03	{font-size:0.8rem;}
#table03 .col01 { width : 10rem; }
#table03 .col02 { width : 10rem; }
#table03 .col03 { width : 5rem; }
#table03 .col04 { width : 7rem; }
#table03 .col05 { width : 4rem; }

}
/* iPad â° */
@media (device-width: 1024px) and (orientation:landscape) {
.content{height:1020px;}
#table02	{font-size:0.75rem;}
#table02 .col01 { width : 8rem; }
#table02 .col02 { width : 8rem; }
#table02 .col03 { width : 14rem; }

#table03	{font-size:0.8rem;}
#table03 .col01 { width : 10rem; }
#table03 .col02 { width : 10rem; }
#table03 .col03 { width : 5rem; }
#table03 .col04 { width : 7rem; }
#table03 .col05 { width : 4rem; }

}
/* iPad Pro èc */
@media (device-width: 1024px) and (orientation:portrait){
.content{height:1360px;}
}
/* iPad èc */
@media (device-width: 768px) {
#table02 th{font-size: 0.7rem;}
#table02 td{font-size: 0.75rem;line-height:0.9rem;}

}
/* iPad â° */
@media (device-width: 1024px) {
#table02 th{font-size: 0.7rem;}
#table02 td{font-size: 0.8rem;}

}
