.content{height:auto; min-height:800px;}

/* ログイン一覧 */
#table01		{ width : 100%;}
#table01 .col01	{ width : 100%;}

/* ログイン一覧 */
#table02		{ width : 100%;}
#table02 .col01	{ width : 6rem;}
#table02 .col02 { width : 3rem; }
#table02 .col03 { width : 6rem; }
#table02 .col04 { width : 13rem; }
#table02 .col05 { width : 13rem; }
#table02 .col06 { width : 4rem; }
#table02 .col07 { width : 4rem; }
#table02 td	{ padding-top : 0.5rem;}
#table02 .border-download {border-bottom:1px solid #ccc;}

.pwdmail-button	{width:100%;}
.no-disp 		{display:none;}
.list-title		{font-weight:bold;}

/* メディアクエリ */
/* iPhone 6 縦 */
@media (device-width: 375px) {

}
/* iPhone 6 縦 */
@media (device-width: 414px) {

}
/* iPhone 6 横 */
@media (device-width: 667px) {

}
/* iPhone 6 横 */
@media (device-width: 736px) {

}
/* iPad 縦 */
@media (device-width: 768px) {

}
/* iPad 横 */
@media (device-width: 1024px) {

}

/* PC */
@media screen and (min-width : 1007px) {
	.content-wrapper{
		height : auto;
		top : 95px;
	}
	.content{
		height : auto;
		min-height : calc( 100vh - 154px);
	}
}
@media screen and (min-width : 960px) and (max-width : 1006px) {
	.content-wrapper{
		height : auto;
		top : 95px;
	}
	.content{
		height : auto;
		min-height : calc( 100vh - 154px);
	}
}
/* Tablet */
@media screen and (min-width : 767px) and (max-width : 959px) {
	.content-wrapper{
		height : auto;
		top : 95px;
	}
	.content{
		height : auto;
		min-height : calc( 100vh - 154px);
	}
}
/* SmartPhone */
@media screen and (min-width : 568px) and (max-width : 766px) {
	.content-wrapper{
		top : 90px;
		height : calc( 100vh - 107px);
	}
	.content{
		height : calc( 100vh - 133px);
		min-height : 365px;
	}
}
@media screen and (max-width : 567px) {
	.content{
		height : calc( 100vh - 35px);
		min-height : 840px;
	}
}


